.DS_Store
Thumbs.db
.vscode/
!.vscode/settings.json
.idea/

.venv/
.venv-1/
.venv-2/
.airflow-venv/
.airflow-wsl-venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.env.*
!.env.example
.user.yml
*.pem
*.key

**/profiles.yml
**/dbt_profiles.yml
**/dbt_profiles.example.yml

dbt_packages/
**/.pip_cache/
target/
logs/
*.log

postgres/
postgre/
airflow/
*.parquet
*.csv
!sample_data/*.csv
!dbt_ecommerce/seeds/*.csv

.data/

.coverage
.pytest_cache/

airflow_api.log
airflow_dag_processor.log
airflow_scheduler.log
airflow_triggerer.log
